<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('common/html_header.ejs', {}); %>
<!-- //header -->

<body>

<!-- Navigation -->
<%- include('common/header.ejs', { key: 'pinwei' }); %>
<!-- //Navigation -->

<!-- Sub Navigation -->
<%- include('common/sub_header.ejs', {
	key: 'caipinzhanshi',
	data: [{
		key: 'pinwei',
		href: 'pinwei.html',
		title: '团队荣誉'
  },{
		key: 'caipinzhanshi',
		href: 'caipinzhanshi.html',
		title: '菜品展示'
  },
  {
		key: 'mendianzhanshi',
		href: 'mendianzhanshi.html',
		title: '门店展示'
	}]
}); %>
<!-- //Sub Navigation -->

<div class="wp">
	<h3 class="g-tit1">菜品展示</h3>
	<%- include('common/fancybox_image_list.ejs', {
		data: [
		{ 
		href: 'images/food/1.png',
		title: '卡通形象',
		desc: '卡通形象'
	 },
	 { 
		href: 'images/food/2.jpg',
		title: '鳗鱼动作',
		desc: '鳗鱼动作'
	 },
	 { 
		href: 'images/food/3.jpg',
		title: '鳗鱼饭',
		desc: '鳗鱼饭'
	 },
	 { 
		href: 'images/food/4.jpg',
		title: '双味牛肉火锅',
		desc: '双味牛肉火锅'
	 },
	 { 
		href: 'images/food/5.jpg',
		title: '火炙握寿司多人食',
		desc: '火炙握寿司多人食'
	 },
	 { 
		href: 'images/food/6.jpg',
		title: '法式香肝手握',
		desc: '法式香肝手握'
	 },
	 { 
		href: 'images/food/7.jpg',
		title: '芒果大虾卷',
		desc: '芒果大虾卷'
	 },
	 { 
		href: 'images/food/8.jpg',
		title: '芒果大虾卷',
		desc: '芒果大虾卷'
	 },
	 { 
		href: 'images/food/9.jpg',
		title: '芒果大虾卷',
		desc: '芒果大虾卷'
	 },
	 { 
		href: 'images/food/10.jpg',
		title: '芒果大虾卷',
		desc: '芒果大虾卷'
	 },
	 { 
		href: 'images/food/11.jpg',
		title: '寿司组合',
		desc: '寿司组合'
	 },
	 { 
		href: 'images/food/12.jpg',
		title: '寿司组合',
		desc: '寿司组合'
	 },
	 { 
		href: 'images/food/13.jpg',
		title: '寿司组合',
		desc: '寿司组合'
	 },
	 { 
		href: 'images/food/14.jpg',
		title: '寿司二人食',
		desc: '寿司二人食'
	 },
	 { 
		href: 'images/food/15.jpg',
		title: '牛油果藜麦沙拉',
		desc: '牛油果藜麦沙拉'
	 },
	 { 
		href: 'images/food/16.jpg',
		title: '榴莲芝士大卷',
		desc: '榴莲芝士大卷'
	 },
	 { 
		href: 'images/food/17.jpg',
		title: '海鲜炒饭',
		desc: '海鲜炒饭'
	 },
	 { 
		href: 'images/food/18.jpg',
		title: '刺身四拼',
		desc: '刺身四拼'
	 },
	 { 
		href: 'images/food/19.jpg',
		title: '鳗鱼饭',
		desc: '鳗鱼饭'
	 },
	 { 
		href: 'images/food/20.jpg',
		title: '肥牛饭',
		desc: '肥牛饭'
	 },
	 { 
		href: 'images/food/21.jpg',
		title: '村上卷',
		desc: '村上卷'
	 },
		]
	}); %>
</div>

<!-- footer -->	
<%- include('common/html_footer.ejs', {}); %>
<!-- footer -->

<!-- js-scripts -->		
<%- include('common/script.ejs', {}); %>
<!-- //js-scripts -->

</body>
</html>