<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('common/html_header.ejs', {}); %>
<!-- //header -->

<body>

<!-- Navigation -->
<%- include('common/header.ejs', { key: 'zhaoshang' }); %>
<!-- //Navigation -->

<!-- Sub Navigation -->
<%- include('common/sub_header.ejs', {
	key: 'jiamengyoushi',
	data: [{
		key: 'zhaoshang',
		href: 'zhaoshang.html',
		title: '合作伙伴'
	},{
		key: 'jiamengyoushi',
		href: 'jiamengyoushi.html',
		title: '加盟优势'
	}]
}); %>
<!-- //Sub Navigation -->

<div class="container coo-p1">
	<div class="row">
			<div class="jsnow-title">
					<h1>加盟前景</h1>
					<div class="jsnow-title-border"></div>
					<p>Join the prospects</p>
			</div>
			<div class="col-12 d-flex justify-content-between">
					<div class="coo-p1-img">
							<img src="http://www.zhenhualiaoli.com/Jsnow/images/coo_p1_img.jpg">
					</div>
					<div class="coo-p1-text">
							预计2022年，我国日本料理市场规模有望突破600亿元，年均增速约在10%左右。目前二三线乃至一线市场都远未饱和，谁先抓住了日式餐厅发展的先机，谁就能决胜未来！<br>
							甄花多管齐下，面向消费者打造精致、平民又兼具艺术化就餐享受的大IP餐厅，同时为创业者们量身定制低成本、高收益、高市场价值的投资方案，共赢财富新未来。

					</div>
			</div>
	</div>
</div>

<div class="coo-p2">
	<div class="container">
			<div class="row">
					<div class="jsnow-title">
							<h1>甄花优势</h1>
							<div class="jsnow-title-border"></div>
							<p>Zhenhua advantage</p>
					</div>
			</div>
			<div class="row">
					<div class="col-12 coo-p2-text">
							全国范围内拥有多家直营店<br>
							解决日料店三大难题<br>
							打破开店难魔咒
					</div>
			</div>
			<div class="row d-flex justify-content-center">
					<div class="coo-p2-img">
							<img src="http://www.zhenhualiaoli.com/Jsnow/images/coo_p2_1.jpg">
							<p>大牌直采<br>
									冷链直达</p>
					</div>
					<div class="coo-p2-img">
							<img src="http://www.zhenhualiaoli.com/Jsnow/images/coo_p2_2.jpg">
							<p>资深大厨<br>
									驻店培训</p>
					</div>
					<div class="coo-p2-img">
							<img src="http://www.zhenhualiaoli.com/Jsnow/images/coo_p2_3.jpg">
							<p>团队研发<br>
									随季更新</p>
					</div>
			</div>
	</div>
</div>

<div class="container coo-p3">
	<div class="row">
			<div class="jsnow-title">
					<h1>加盟优势 助跑梦想</h1>
					<div class="jsnow-title-border"></div>
					<p>9 join the advantages of running dream</p>
			</div>
	</div>
	<div class="row coo-p3-list d-flex justify-content-between">
			<ul class="col-p3-list-left">
					<li>来自现代化管理集团——甄美集团的强大品牌背书</li>
					<li>业内更具前瞻性的品牌化运作方案</li>
					<li>更先进的标准化运营管理模式</li>
					<li>10余年连锁餐饮管理经验</li>
					<li>顶尖综合性专业团队</li>
			</ul>
			<ul class="col-p3-list-right">
					<li>科学化营销推广方案</li>
					<li>全方位、全流程的门店支持</li>
					<li>优质大牌供应伙伴</li>
					<li>庞大的媒体关系网</li>
			</ul>
	</div>
</div>

<div class="container coo-p4">
	<div class="row">
			<div class="jsnow-title">
					<h1>你开店 我扶持</h1>
					<div class="jsnow-title-border"></div>
					<p>You open a shop, I support</p>
			</div>
	</div>
	<div class="row coo-p4-list">
			<div class="col-2">
					<div class="coo-p4-div">
							<h3>选址定位</h3>
							<p>科学选址，好位置奠定好效益</p>
					</div>
			</div>
			<div class="col-2">
					<div class="coo-p4-div">
							<h3>设计装修</h3>
							<p>统一进行，更低成本更美效果</p>
					</div>
			</div>
			<div class="col-2">
					<div class="coo-p4-div">
							<h3>选址定位</h3>
							<p>完善的培训体系，1天上岗</p>
					</div>
			</div>
			<div class="col-2">
					<div class="coo-p4-div">
							<h3>运营管理</h3>
							<p>专业带店经理免费支持7天以上+不定期到店指导</p>
					</div>
			</div>
			<div class="col-2">
					<div class="coo-p4-div">
							<h3>营销支持</h3>
							<p>线上线下齐打通，2大外卖巨头全城合作</p>
					</div>
			</div>
			<div class="col-2">
					<div class="coo-p4-div">
							<h3>区域保护</h3>
							<p>确保每座门店辐射范围不小于3公里，保障每位加盟商利益</p>
					</div>
			</div>
	</div>
</div>

<div class="container"style="margin-bottom: 50px;">
	<div class="row coo-p5">
			<div class="jsnow-title">
					<h1>加盟流程</h1>
					<div class="jsnow-title-border"></div>
					<p>Joining process</p>
			</div>
	</div>
	<div class="row coo-p5-img">
			<div class="col-12 text-center">
					<img src="http://www.zhenhualiaoli.com/Jsnow/images/coo_p5_img.png">
			</div>
	</div>
</div>

<!-- footer -->	
<%- include('common/html_footer.ejs', {}); %>
<!-- footer -->

<!-- js-scripts -->		
<%- include('common/script.ejs', {}); %>
<!-- //js-scripts -->

</body>
</html>