<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('common/html_header.ejs', {}); %>
<!-- //header -->
<style>
  #allmap {
    background-image: url(http://webmap0.bdimg.com/image/api/bg.png);
    overflow: hidden;
    position: relative;
    z-index: 0;
    background-color: rgb(243, 241, 236);
    color: rgb(0, 0, 0);
    text-align: left;
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
  }
</style>
<body>

<!-- Navigation -->
<%- include('common/header.ejs', { key: 'story' }); %>
<!-- //Navigation -->

<!-- Sub Navigation -->
<%- include('common/sub_header.ejs', {
  key: 'mendianfenbu',
	data: [{
		key: 'story',
		href: 'story.html',
		title: '公司简介'
	},{
		key: 'mendianfenbu',
		href: 'mendianfenbu.html',
		title: '门店分布'
	},{
		key: 'xinwenzixun',
		href: 'xinwenzixun.html',
		title: '新闻资讯'
	},{
		key: 'xuanchuanpian',
		href: 'xuanchuanpian.html',
		title: '企业宣传片'
	}]
}); %>

<div id="bodyContainer">
	<!-- <div id="address-search-div" class="clearfix">
		<div class="map_l_list">
			<div class="box clearfix">
				<img src="https://www.haidilao.com/zh/uiFramework/commonResource/image/2019071213294727381.png" style="width: 25px;height: 31px;">
				<span class="geolocation currLocatInfo">当前位置：</span>
				<span id="geolocationInfo" class="currLocatInfo">没有获取到您的位置</span>
				<span id="countryName" style="display: none;"></span>
			</div>

			<div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
		</div>

		<form action="" method="post" class="formSs clearfix">
			<div class="sousuokuang clearfix">
				<input type="hidden" id="oneHidden" value="f919da82d3a0497e8cd06d9ae383f477">
				<div class="shurukuangBtn clearfix">
					<input class="easysite-map-text" id="queryInfo" type="text" value="" autocomplete="off" placeholder="请输入关键字">
					<input class="easysite-map-sub-btn" onclick="getMapDotDataBySearchInfo()" type="button" id="queryButton" value="">
				</div>
			</div>
			<p class="dituXiaLa on"><img src="https://www.haidilao.com/zh/uiFramework/commonResource/image/2019071215073758682.png"></p>
		</form>

	</div>
        
        <p class="waringTXT"><span>为了更准确地找到门店，建议您输入城市名全称或具体地址，如“北京市”、“南京市”等。</span></p> -->

	<div class="easysite-map-wrap">
		<div class="mapBox clearfix css3guodu">
			<!-- <div id="mapInfoDiv" class="hide">
				<div class="bg">
					<div class="easysite-map-list">
            <ul id="leftMapDotInfo" class="easysite-map-address-list">
              <li onclick="showMarker(1)" class="easysite-map-list-info"><i>1</i><div class="easysite-map-info-detail"><a title="新年华购物中心">新年华购物中心</a><p class="easysite-map-list-dotBrief" title="10:00-22:00">营业时间：10:00-22:00</p><p class="easysite-map-list-address" title="北京市西城区马连道路25号新年华购物中心五层海底捞">地址：北京市西城区马连道路25号新年华购物中心五层海底捞</p><p class="easysite-map-list-tel" title="电话：106,336,393,801,063,000,000"><img src="https://www.haidilao.com/zh/uiFramework/commonResource/image/2019071215073758682.png"  style="width: 18px;height: 18px;">106,336,393,801,063,000,000</p></div></li>
            </ul>
						<div id="pageInfo" class="easysite-map-pagination"></div>
					</div>
				</div>
			</div> -->

			<div class="map_R">
        <div id="allmap" class="easysite-baidu-map"></div>
				<!-- <p class="zk on"><i class="css3guodu"></i></p> -->
			</div>
		</div>
	</div>
</div>

<div id="r-result"></div>

<!-- footer -->	
<%- include('common/html_footer.ejs', {}); %>
<!-- footer -->
		
<!-- js-scripts -->		
<%- include('common/script.ejs', {}); %>
<!-- //js-scripts -->

<script src="js/mendianfenbu.js"></script>

</body>
</html>