<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('common/html_header.ejs', {}); %>
<!-- //header -->

<body>

<!-- Navigation -->
<%- include('common/header.ejs', { key: 'story' }); %>
<!-- //Navigation -->

<!-- Sub Navigation -->
<%- include('common/sub_header.ejs', {
  key: 'mendianfenbu',
	data: [{
		key: 'story',
		href: 'story.html',
		title: '公司简介'
	},{
		key: 'pinpai',
		href: 'pinpai.html',
		title: '品牌'
	},{
		key: 'mendianfenbu',
		href: 'mendianfenbu.html',
		title: '门店分布'
	},{
		key: 'xinwenzixun',
		href: 'xinwenzixun.html',
		title: '新闻资讯'
	}]
}); %>
<!-- //Sub Navigation -->

<div class="wp">
  <ul class="ul-list6">
			 
    <li>
                <div class="pic"><a href="" target="_blank"><img src="/d/file/2016-12-22/fdcf0fca776b5139e83916cea1f2e117.jpg" alt="赤坂煎饺 龙阳广场店"></a></div>
                <div class="txt">
                    <h3>赤坂煎饺 龙阳广场店</h3>
                    <p>地址：上海市浦东新区龙阳广场龙阳路2000号一楼L1-29</p>
                    <span><a href="tel:58958297">58958297</a></span>
                    
                    <a class="a-btn1" href="" target="_blank">地图导航</a>
                </div>
            </li>
   
    <li>
                <div class="pic"><a href="http://vs1.eqxiu.com/eqs/link?id=56706552&amp;url=http%3A%2F%2Fdwz.cn%2F40osU1" target="_blank"><img src="/d/file/2017-03-09/eb3a75df1716105c802204e5b5fec171.jpg" alt="赤坂亭 汇金店"></a></div>
                <div class="txt">
                    <h3>赤坂亭 汇金店</h3>
                    <p>地址：上海徐汇区肇嘉浜路1000号8楼801单元</p>
                    <span><a href="tel:021-33561717">021-33561717</a></span>
                    <a class="a-btn2" href="https://theta360cn.com/s/bY7TpdB3kTg3mN6OQde1TmV2O" target="_blank">查看全景</a>
                    <a class="a-btn1" href="http://vs1.eqxiu.com/eqs/link?id=56706552&amp;url=http%3A%2F%2Fdwz.cn%2F40osU1" target="_blank">地图导航</a>
                </div>
            </li>
   
    <li>
                <div class="pic"><a href="http://3gimg.qq.com/lightmap/v1/marker/?type=0&amp;marker=coord%3A31.205400,121.603080%3Btitle%3A%E8%B5%A4%E5%9D%82%E4%BA%AD%E5%BC%A0%E6%B1%9F%E9%95%BF%E6%B3%B0%E5%BA%97%3Baddr%3A%E6%B5%A6%E4%B8%9C%E6%96%B0%E5%8C%BA%E7%A5%96%E5%86%B2%E4%B9%8B%E8%B7%AF1239%E5%BC%846%E5%8F%B710%E5%8F%B7%E6%A5%BC2%E5%B1%8207%E5%AE%A4&amp;key=L3GBZ-OUFR3-IVG3T-3KJMS-UYTRO-MJBBY&amp;referer=cbtweb" target="_blank"><img src="/d/file/2017-03-09/ea9f3f1acf1544dedf985058adbfa67c.jpg" alt="赤坂亭 张江店"></a></div>
                <div class="txt">
                    <h3>赤坂亭 张江店</h3>
                    <p>地址：上海市浦东新区祖冲之路1239号5座2层</p>
                    <span><a href="tel:021-5228 1717">021-5228 1717</a></span>
                    <a class="a-btn2" href="\quanjing\yy5\zj.html" target="_blank">查看全景</a>
                    <a class="a-btn1" href="http://3gimg.qq.com/lightmap/v1/marker/?type=0&amp;marker=coord%3A31.205400,121.603080%3Btitle%3A%E8%B5%A4%E5%9D%82%E4%BA%AD%E5%BC%A0%E6%B1%9F%E9%95%BF%E6%B3%B0%E5%BA%97%3Baddr%3A%E6%B5%A6%E4%B8%9C%E6%96%B0%E5%8C%BA%E7%A5%96%E5%86%B2%E4%B9%8B%E8%B7%AF1239%E5%BC%846%E5%8F%B710%E5%8F%B7%E6%A5%BC2%E5%B1%8207%E5%AE%A4&amp;key=L3GBZ-OUFR3-IVG3T-3KJMS-UYTRO-MJBBY&amp;referer=cbtweb" target="_blank">地图导航</a>
                </div>
            </li>
   
    <li>
                <div class="pic"><a href="http://3gimg.qq.com/lightmap/v1/marker/?type=0&amp;marker=coord%3A31.184760,121.492440%3Btitle%3A%E8%B5%A4%E5%9D%82%E4%BA%AD%E4%B8%96%E5%8D%9A%E5%A4%A7%E9%81%93%E5%BA%97%3Baddr%3A%E6%B5%A6%E4%B8%9C%E6%96%B0%E5%8C%BA%E4%B8%96%E5%8D%9A%E5%A4%A7%E9%81%931368%E5%8F%B7%E7%AC%ACL2%E5%B1%823%E5%8C%BA&amp;key=L3GBZ-OUFR3-IVG3T-3KJMS-UYTRO-MJBBY&amp;referer=cbtweb" target="_blank"><img src="/d/file/2017-03-09/e4041c17d1ea5899c05c2744f6d94085.jpg" alt="赤坂亭 世博店"></a></div>
                <div class="txt">
                    <h3>赤坂亭 世博店</h3>
                    <p>地址：上海市浦东新区世博大道1368号3区L2层</p>
                    <span><a href="tel:021-6219 1717">021-6219 1717</a></span>
                    <a class="a-btn2" href="\quanjing\yy4\sb.html" target="_blank">查看全景</a>
                    <a class="a-btn1" href="http://3gimg.qq.com/lightmap/v1/marker/?type=0&amp;marker=coord%3A31.184760,121.492440%3Btitle%3A%E8%B5%A4%E5%9D%82%E4%BA%AD%E4%B8%96%E5%8D%9A%E5%A4%A7%E9%81%93%E5%BA%97%3Baddr%3A%E6%B5%A6%E4%B8%9C%E6%96%B0%E5%8C%BA%E4%B8%96%E5%8D%9A%E5%A4%A7%E9%81%931368%E5%8F%B7%E7%AC%ACL2%E5%B1%823%E5%8C%BA&amp;key=L3GBZ-OUFR3-IVG3T-3KJMS-UYTRO-MJBBY&amp;referer=cbtweb" target="_blank">地图导航</a>
                </div>
            </li>
   
    <li>
                <div class="pic"><a href="http://3gimg.qq.com/lightmap/v1/marker/?type=0&amp;marker=coord%3A31.256390%2C121.578990%3Btitle%3A%E8%B5%A4%E5%9D%82%E4%BA%AD%E9%87%91%E6%A1%A5%E5%BA%97%3Baddr%3A%E5%BC%A0%E6%9D%A8%E8%B7%AF3611%E5%8F%B7%E9%87%91%E6%A1%A5%E5%9B%BD%E9%99%85%E5%B9%BF%E5%9C%BA7%E5%BA%A7303%E5%AE%A4&amp;key=L3GBZ-OUFR3-IVG3T-3KJMS-UYTRO-MJBBY&amp;referer=cbtweb" target="_blank"><img src="/d/file/2017-03-09/1c16d5a7dd7fdb17409e5f5197dcbaa7.jpg" alt="赤坂亭  金桥店"></a></div>
                <div class="txt">
                    <h3>赤坂亭  金桥店</h3>
                    <p>地址：浦东新区张杨路3611弄金桥国际商业广场7号303室</p>
                    <span><a href="tel:021-5065 1717">021-5065 1717</a></span>
                    <a class="a-btn2" href="\quanjing\yy1\jq.html" target="_blank">查看全景</a>
                    <a class="a-btn1" href="http://3gimg.qq.com/lightmap/v1/marker/?type=0&amp;marker=coord%3A31.256390%2C121.578990%3Btitle%3A%E8%B5%A4%E5%9D%82%E4%BA%AD%E9%87%91%E6%A1%A5%E5%BA%97%3Baddr%3A%E5%BC%A0%E6%9D%A8%E8%B7%AF3611%E5%8F%B7%E9%87%91%E6%A1%A5%E5%9B%BD%E9%99%85%E5%B9%BF%E5%9C%BA7%E5%BA%A7303%E5%AE%A4&amp;key=L3GBZ-OUFR3-IVG3T-3KJMS-UYTRO-MJBBY&amp;referer=cbtweb" target="_blank">地图导航</a>
                </div>
            </li>
   
    <li>
                <div class="pic"><a href="http://3gimg.qq.com/lightmap/v1/marker/?type=0&amp;marker=coord%3A31.108340%2C121.377530%3Btitle%3A%E8%B5%A4%E5%9D%82%E4%BA%AD%E8%8E%98%E6%9D%BE%E8%B7%AF%E5%BA%97%3Baddr%3A%E6%B2%AA%E9%97%B5%E8%B7%AF6088%E5%8F%B7%E5%87%AF%E5%BE%B7%E9%BE%99%E4%B9%8B%E6%A2%A6%E9%97%B5%E8%A1%8C%E5%B9%BF%E5%9C%BA4%E6%A5%BC&amp;key=L3GBZ-OUFR3-IVG3T-3KJMS-UYTRO-MJBBY&amp;referer=cbtweb" target="_blank"><img src="/d/file/2017-03-09/0afa704c8efc247b7350bfe5b3a58497.jpg" alt="赤坂亭 闵行龙之梦店"></a></div>
                <div class="txt">
                    <h3>赤坂亭 闵行龙之梦店</h3>
                    <p>地址：闵行区沪闵路6088号凯德龙之梦闵行广场4楼24-27单元</p>
                    <span><a href="tel:021-3388 1717">021-3388 1717</a></span>
                    <a class="a-btn2" href="\quanjing\yy2\xs.html" target="_blank">查看全景</a>
                    <a class="a-btn1" href="http://3gimg.qq.com/lightmap/v1/marker/?type=0&amp;marker=coord%3A31.108340%2C121.377530%3Btitle%3A%E8%B5%A4%E5%9D%82%E4%BA%AD%E8%8E%98%E6%9D%BE%E8%B7%AF%E5%BA%97%3Baddr%3A%E6%B2%AA%E9%97%B5%E8%B7%AF6088%E5%8F%B7%E5%87%AF%E5%BE%B7%E9%BE%99%E4%B9%8B%E6%A2%A6%E9%97%B5%E8%A1%8C%E5%B9%BF%E5%9C%BA4%E6%A5%BC&amp;key=L3GBZ-OUFR3-IVG3T-3KJMS-UYTRO-MJBBY&amp;referer=cbtweb" target="_blank">地图导航</a>
                </div>
            </li>
   
           
        </ul>
</div>

<!-- footer -->	
<%- include('common/html_footer.ejs', {}); %>
<!-- footer -->
		
<!-- js-scripts -->		
<%- include('common/script.ejs', {}); %>
<!-- //js-scripts -->

</body>
</html>