<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('common/html_header.ejs', {}); %>
<!-- //header -->

<body>

<!-- Navigation -->
<%- include('common/header.ejs', { key: 'pinwei' }); %>
<!-- //Navigation -->

<!-- Sub Navigation -->
<%- include('common/sub_header.ejs', {
	key: 'mendianzhanshi',
	data: [{
		key: 'pinwei',
		href: 'pinwei.html',
		title: '团队荣誉'
  },{
		key: 'caipinzhanshi',
		href: 'caipinzhanshi.html',
		title: '菜品展示'
  },
  {
		key: 'mendianzhanshi',
		href: 'mendianzhanshi.html',
		title: '门店展示'
	}]
}); %>
<!-- //Sub Navigation -->

<div class="wp">
	<h3 class="g-tit1">店内照片</h3>
	<%- include('common/fancybox_image_list.ejs', {
		data: [
		{ 
		href: 'http://www.chibanting.com/d/file/2017-01-17/c4565b624749f4741e84fd6d012fd458.jpg',
		title: '门店环境',
		desc: '门店环境'
	 },
	 { 
		href: 'http://www.chibanting.com/d/file/2017-01-17/c4565b624749f4741e84fd6d012fd458.jpg',
		title: '门店环境',
		desc: '门店环境'
	 },
	 { 
		href: 'http://www.chibanting.com/d/file/2017-01-17/c4565b624749f4741e84fd6d012fd458.jpg',
		title: '门店环境',
		desc: '门店环境'
	 },
	 { 
		href: 'http://www.chibanting.com/d/file/2017-01-17/c4565b624749f4741e84fd6d012fd458.jpg',
		title: '门店环境',
		desc: '门店环境'
	 },
	 { 
		href: 'http://www.chibanting.com/d/file/2017-01-17/c4565b624749f4741e84fd6d012fd458.jpg',
		title: '门店环境',
		desc: '门店环境'
	 }
		]
	}); %>
</div>

<!-- footer -->	
<%- include('common/html_footer.ejs', {}); %>
<!-- footer -->

<!-- js-scripts -->		
<%- include('common/script.ejs', {}); %>
<!-- //js-scripts -->

</body>
</html>