<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('common/html_header.ejs', {}); %>
<!-- //header -->

<body>

<!-- Navigation -->
<%- include('common/header.ejs', { key: 'story' }); %>
<!-- //Navigation -->

<!-- Sub Navigation -->
<%- include('common/sub_header.ejs', {
  key: 'mendianfenbu',
	data: [{
		key: 'story',
		href: 'story.html',
		title: '公司简介'
	},{
		key: 'mendianfenbu',
		href: 'mendianfenbu.html',
		title: '门店分布'
	},{
		key: 'xinwenzixun',
		href: 'xinwenzixun.html',
		title: '新闻资讯'
	},{
		key: 'xuanchuanpian',
		href: 'xuanchuanpian.html',
		title: '企业宣传片'
	}]
}); %>
<!-- //Sub Navigation -->

<div class="wp">
	<%- include('common/mendianfenbu_list.ejs', {
		data: [
  {
    "name": "村上一屋（北工大店）",
    "localtion": "平乐园地铁口C出口向东300米",
    "tel": "13439321786",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（棕榈泉朝阳公园店）",
    "localtion": "朝阳公园南路8号棕榈泉生活广场底商1层",
    "tel": "15011092959",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（双井店）",
    "localtion": "富力城D区北门底商（钱生钱财富管理中心旁）",
    "tel": "18511620814",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（SOHO尚都店）",
    "localtion": "东大桥路8号SOHO尚都北塔一层",
    "tel": "15210530509",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（九龙山店）",
    "localtion": "广渠路31号双井家乐福东侧百安居入口一层底商",
    "tel": "13439321536",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（劲松店）",
    "localtion": "劲松南路海文大厦一楼",
    "tel": "15138114974",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（通州万达店）",
    "localtion": "西关大街万达金街B2-123",
    "tel": "18310935318",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（亚运村店）",
    "localtion": "惠中路安慧里二区一号楼",
    "tel": "13693635192",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（健翔桥店）",
    "localtion": "昌平路关河馍健翔桥店旁",
    "tel": "13520236184",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（苏州街店）",
    "localtion": "苏州街左岸大厦",
    "tel": "18810834450",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（青年路店）",
    "localtion": "十里堡青年路佳亿青年汇北厅一楼（味多美旁）",
    "tel": "13520488761",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（北邮店）",
    "localtion": "学院南路北京邮电大学南门向东80米",
    "tel": "17718338507",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（陆港城店）",
    "localtion": "朝阳北路20号院3号楼一层106-1（呷哺呷哺旁）",
    "tel": "13621156998",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（惠新东街店）",
    "localtion": "惠新东街樱花宾馆楼下",
    "tel": "15652700345",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（国贸店）",
    "localtion": "建国路与东三环中路交叉口京汇大厦",
    "tel": "15510633159",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（广渠门店）",
    "localtion": "广渠门内大街29-2号西部马华旁",
    "tel": "18518386579",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（北苑店）",
    "localtion": "朝阳区秋实街1号易事达购物休闲广场一层",
    "tel": "17701297992",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（木樨园店）",
    "localtion": "丰台区海户屯165号（世纪INN酒店一层）",
    "tel": "13126688875",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（梨园店）",
    "localtion": "梨园云景东路万基广场一层",
    "tel": "13552955172",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（魏公村店）",
    "localtion": "海淀白石桥中央民族大学美食街27号",
    "tel": "15210279982",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（上地店）",
    "localtion": "海定区上地西路41号院宏达商务中心一层",
    "tel": "13141301147",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（望京店）",
    "localtion": "朝阳区望京东园4区3号楼一层",
    "tel": "13366437679",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（宣武门店）",
    "localtion": "西城区宣武门外大街32号富卓商厦",
    "tel": "13811340750",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（回龙观店）",
    "localtion": "昌平区回龙观西大街99号美廉美超市一层",
    "tel": "18513005433",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（王府井店）",
    "localtion": "东城区王府井外大街88号一幢银泰地下一层吧03-1",
    "tel": "13552517244",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（方庄店）",
    "localtion": "丰台区方庄芳星园二区6号楼时代life购物中心5层",
    "tel": "13520726183",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（房山店）",
    "localtion": "房山区拱辰北大街龙湖天街五层",
    "tel": "15301337998",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（公主坟店）",
    "localtion": "海淀区翠微路12号-1层-101-04A",
    "tel": "18515943876",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（天通苑华联店）",
    "localtion": "立汤路天通苑华联购物中心地下一层02号",
    "tel": "18500187175",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（五棵松西点茂店）",
    "localtion": "海淀区永定路88号西点茂1层村上一屋（星巴克对面）",
    "tel": "010-59000327",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（西单店）",
    "localtion": "北京市西城区西单北大街109号一层",
    "tel": "13683285345",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（小米科技园店）",
    "localtion": "安宁庄路小米移动互联网产业园",
    "tel": "18518484556",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（国泰百货双桥店）",
    "localtion": "北京市朝阳区双桥路2号国泰百货1层（肯德基旁）",
    "tel": "18810727161",
    "image": "images/mendianfenbu/beigonda.jpeg"
  },
  {
    "name": "村上一屋（三里屯店）",
    "localtion": "北京市朝阳区三里屯工人体育场北路雅秀大厦东侧一层底商",
    "tel": "15711097727",
    "image": "images/mendianfenbu/beigonda.jpeg"
  }
]
	}); %>
  <!-- <ul class="ul-list6">
    <li>
        <div class="pic">
            <a href="" target="_blank"><img src="images/mendianfenbu/beigonda.jpeg" alt="村上一屋(新北工大店)"></a>
        </div>
        <div class="txt">
            <h3>村上一屋(新北工大店)</h3>
            <p>地址：北京市朝阳区西大望路27号友金大厦1层</p>
            <span><a href="tel:13439321786">13439321786</a></span>
            <a class="a-btn1" href="https://map.baidu.com/search/%E6%9D%91%E4%B8%8A%E4%B8%80%E5%B1%8B(%E6%96%B0%E5%8C%97%E5%B7%A5%E5%A4%A7%E5%BA%97)/@12967197.685,4822393.41,13.75z?querytype=s&da_src=shareurl&wd=%E6%9D%91%E4%B8%8A%E4%B8%80%E5%B1%8B(%E6%96%B0%E5%8C%97%E5%B7%A5%E5%A4%A7%E5%BA%97)&c=131&src=0&wd2=%E5%8C%97%E4%BA%AC%E5%B8%82%E6%9C%9D%E9%98%B3%E5%8C%BA&pn=0&sug=1&l=14&b=(12949429.46,4823629.33;12972469.46,4836397.33)&from=webmap&biz_forward=%7B%22scaler%22:2,%22styles%22:%22pl%22%7D&sug_forward=4cd6ec8785d6e2eb01294fe0&device_ratio=2" target="_blank">地图导航</a>
        </div>
    </li>
  </ul> -->
</div>

<!-- footer -->	
<%- include('common/html_footer.ejs', {}); %>
<!-- footer -->
		
<!-- js-scripts -->		
<%- include('common/script.ejs', {}); %>
<!-- //js-scripts -->

</body>
</html>