<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('common/html_header.ejs', {}); %>
<!-- //header -->

<body>

<!-- Navigation -->
<%- include('common/header.ejs', { key: 'pinwei' }); %>
<!-- //Navigation -->

<!-- Sub Navigation -->
<%- include('common/sub_header.ejs', {
	key: 'mendianzhanshi',
	data: [{
		key: 'pinwei',
		href: 'pinwei.html',
		title: '团队荣誉'
  },{
		key: 'caipinzhanshi',
		href: 'caipinzhanshi.html',
		title: '菜品展示'
  },
  {
		key: 'mendianzhanshi',
		href: 'mendianzhanshi.html',
		title: '门店展示'
	}]
}); %>
<!-- //Sub Navigation -->

<div class="wp">
	<h3 class="g-tit1">店内照片</h3>
	<%- include('common/fancybox_image_list.ejs', {
    rongyu: false,
		data: [ 
  { href: 'images/mendian/10.jpg', title: '', desc: '' },
  { href: 'images/mendian/11.jpg', title: '', desc: '' },
  { href: 'images/mendian/12.jpg', title: '', desc: '' },
  { href: 'images/mendian/16.jpg', title: '', desc: '' },
  { href: 'images/mendian/17.jpg', title: '', desc: '' },
  { href: 'images/mendian/18.jpg', title: '', desc: '' },
  { href: 'images/mendian/19.jpg', title: '', desc: '' },
  { href: 'images/mendian/20.jpg', title: '', desc: '' },
  { href: 'images/mendian/21.jpg', title: '', desc: '' },
  { href: 'images/mendian/22.jpg', title: '', desc: '' },
  { href: 'images/mendian/23.jpg', title: '', desc: '' },
  { href: 'images/mendian/24.jpg', title: '', desc: '' },
  { href: 'images/mendian/25.jpg', title: '', desc: '' },
  { href: 'images/mendian/26.jpg', title: '', desc: '' },
  { href: 'images/mendian/27.jpg', title: '', desc: '' },
  { href: 'images/mendian/28.jpg', title: '', desc: '' },
  { href: 'images/mendian/29.jpg', title: '', desc: '' },
  { href: 'images/mendian/30.jpg', title: '', desc: '' },
  { href: 'images/mendian/31.jpg', title: '', desc: '' },
  { href: 'images/mendian/32.jpg', title: '', desc: '' },
  { href: 'images/mendian/33.jpg', title: '', desc: '' },
  { href: 'images/mendian/34.jpg', title: '', desc: '' },
  { href: 'images/mendian/35.jpg', title: '', desc: '' },
  { href: 'images/mendian/36.jpg', title: '', desc: '' },
  { href: 'images/mendian/37.jpg', title: '', desc: '' },
  { href: 'images/mendian/38.jpg', title: '', desc: '' },
  { href: 'images/mendian/39.jpg', title: '', desc: '' },
  { href: 'images/mendian/40.jpg', title: '', desc: '' },
  { href: 'images/mendian/41.jpg', title: '', desc: '' },
  { href: 'images/mendian/42.jpg', title: '', desc: '' },
  { href: 'images/mendian/43.jpg', title: '', desc: '' },
  { href: 'images/mendian/44.jpg', title: '', desc: '' },
  { href: 'images/mendian/45.jpg', title: '', desc: '' },
  { href: 'images/mendian/46.jpg', title: '', desc: '' },
  { href: 'images/mendian/47.jpg', title: '', desc: '' },
  { href: 'images/mendian/48.jpg', title: '', desc: '' },
  { href: 'images/mendian/49.jpg', title: '', desc: '' },
  { href: 'images/mendian/50.jpg', title: '', desc: '' },
  { href: 'images/mendian/51.jpg', title: '', desc: '' },
  { href: 'images/mendian/52.jpg', title: '', desc: '' },
  { href: 'images/mendian/53.jpg', title: '', desc: '' },
  { href: 'images/mendian/54.jpg', title: '', desc: '' },
  { href: 'images/mendian/55.jpg', title: '', desc: '' },
  { href: 'images/mendian/56.jpg', title: '', desc: '' },
  { href: 'images/mendian/57.jpg', title: '', desc: '' },
  { href: 'images/mendian/58.jpg', title: '', desc: '' },
  { href: 'images/mendian/59.jpg', title: '', desc: '' },
  { href: 'images/mendian/6.jpg', title: '', desc: '' },
  { href: 'images/mendian/60.jpg', title: '', desc: '' },
  { href: 'images/mendian/61.jpg', title: '', desc: '' },
  { href: 'images/mendian/62.jpg', title: '', desc: '' },
  { href: 'images/mendian/7.jpg', title: '', desc: '' },
  { href: 'images/mendian/8.jpg', title: '', desc: '' },
  { href: 'images/mendian/9.jpg', title: '', desc: '' } ]
	}); %>
</div>

<!-- footer -->	
<%- include('common/html_footer.ejs', {}); %>
<!-- footer -->

<!-- js-scripts -->		
<%- include('common/script.ejs', {}); %>
<!-- //js-scripts -->

</body>
</html>