<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('common/html_header.ejs', {}); %>
<!-- //header -->

<body>

<!-- Navigation -->
<%- include('common/header.ejs', { key: 'pinwei' }); %>
<!-- //Navigation -->

<!-- Sub Navigation -->
<%- include('common/sub_header.ejs', {
	key: 'mendianzhanshi',
	data: [{
		key: 'pinwei',
		href: 'pinwei.html',
		title: '菜品展示'
	},
	// {
	// 	key: 'mendianxingxiang',
	// 	href: 'mendianxingxiang.html',
	// 	title: '门店形象展示'
	// },
	{
		key: 'mendianzhanshi',
		href: 'mendianzhanshi.html',
		title: '门店展示'
	}]
}); %>
<!-- //Sub Navigation -->

<div class="wp">
	<h3 class="g-tit1">店内照片</h3>
	<ul class="ul-list2">
			
<li>
					<a href="http://www.chibanting.com/d/file/2017-01-17/c4565b624749f4741e84fd6d012fd458.jpg" data-fancybox-group="gallery2" title="门店环境">
							<div class="pic"><img src="http://www.chibanting.com/d/file/2017-01-17/c4565b624749f4741e84fd6d012fd458.jpg" alt="门店环境"></div>
							<p>门店环境</p>
					</a>
			</li>

<li>
					<a href="http://www.chibanting.com/d/file/2017-01-17/478dfb62545969229d8aa6bca728fe13.jpg" data-fancybox-group="gallery2" title="门店环境">
							<div class="pic"><img src="http://www.chibanting.com/d/file/2017-01-17/478dfb62545969229d8aa6bca728fe13.jpg" alt="门店环境"></div>
							<p>门店环境</p>
					</a>
			</li>

<li>
					<a href="http://www.chibanting.com/d/file/2017-01-17/c9979444f0b13a913841114c899381d4.jpg" data-fancybox-group="gallery2" title="门店环境">
							<div class="pic"><img src="http://www.chibanting.com/d/file/2017-01-17/c9979444f0b13a913841114c899381d4.jpg" alt="门店环境"></div>
							<p>门店环境</p>
					</a>
			</li>

<li>
					<a href="http://www.chibanting.com/d/file/2017-01-17/329d5c34d2fbbeff8239d8d391d5b3e1.jpg" data-fancybox-group="gallery2" title="门店环境">
							<div class="pic"><img src="http://www.chibanting.com/d/file/2017-01-17/329d5c34d2fbbeff8239d8d391d5b3e1.jpg" alt="门店环境"></div>
							<p>门店环境</p>
					</a>
			</li>

<li>
					<a href="http://www.chibanting.com/d/file/2017-01-17/9aec6be2227acc6fdb166bd51a7af7b1.jpg" data-fancybox-group="gallery2" title="门店环境">
							<div class="pic"><img src="http://www.chibanting.com/d/file/2017-01-17/9aec6be2227acc6fdb166bd51a7af7b1.jpg" alt="门店环境"></div>
							<p>门店环境</p>
					</a>
			</li>

<li>
					<a href="http://www.chibanting.com/d/file/2017-01-17/7c4c59c9d873a27681406246a7f3b08f.jpg" data-fancybox-group="gallery2" title="门店环境">
							<div class="pic"><img src="http://www.chibanting.com/d/file/2017-01-17/7c4c59c9d873a27681406246a7f3b08f.jpg" alt="门店环境"></div>
							<p>门店环境</p>
					</a>
			</li>

<li>
					<a href="http://www.chibanting.com/d/file/2017-01-17/fd0e6b367a0ec08468721c2ee81fdb8e.jpg" data-fancybox-group="gallery2" title="门店环境">
							<div class="pic"><img src="http://www.chibanting.com/d/file/2017-01-17/fd0e6b367a0ec08468721c2ee81fdb8e.jpg" alt="门店环境"></div>
							<p>门店环境</p>
					</a>
			</li>

<li>
					<a href="http://www.chibanting.com/d/file/2017-01-17/157bcce2c90f893b06a14a8fa1d58929.jpg" data-fancybox-group="gallery2" title="门店环境">
							<div class="pic"><img src="http://www.chibanting.com/d/file/2017-01-17/157bcce2c90f893b06a14a8fa1d58929.jpg" alt="门店环境"></div>
							<p>门店环境</p>
					</a>
			</li>

<li>
					<a href="http://www.chibanting.com/d/file/2017-02-23/0ef9a289944333d7b557e7c75e5ae881.png" data-fancybox-group="gallery2" title="门店环境">
							<div class="pic"><img src="http://www.chibanting.com/d/file/2017-02-23/0ef9a289944333d7b557e7c75e5ae881.png" alt="门店环境"></div>
							<p>门店环境</p>
					</a>
			</li>

<li>
					<a href="http://www.chibanting.com/d/file/2016-12-27/783d811f62acf3ffbef7d346c2e78c85.jpg" data-fancybox-group="gallery2" title="门店环境">
							<div class="pic"><img src="http://www.chibanting.com/d/file/2016-12-27/783d811f62acf3ffbef7d346c2e78c85.jpg" alt="门店环境"></div>
							<p>门店环境</p>
					</a>
			</li>

<li>
					<a href="http://www.chibanting.com/d/file/2016-12-27/79e68fdc60a93abaa5cda1e32772b347.jpg" data-fancybox-group="gallery2" title="门店环境">
							<div class="pic"><img src="http://www.chibanting.com/d/file/2016-12-27/79e68fdc60a93abaa5cda1e32772b347.jpg" alt="门店环境"></div>
							<p>门店环境</p>
					</a>
			</li>

<li>
					<a href="http://www.chibanting.com/d/file/2017-02-23/038748d64c294e427df13d9159c4d4c5.png" data-fancybox-group="gallery2" title="门店环境">
							<div class="pic"><img src="http://www.chibanting.com/d/file/2017-02-23/038748d64c294e427df13d9159c4d4c5.png" alt="门店环境"></div>
							<p>门店环境</p>
					</a>
			</li>

<li>
					<a href="http://www.chibanting.com/d/file/2016-12-27/834398fa247b26d95e39c230e51651d2.jpg" data-fancybox-group="gallery2" title="门店环境">
							<div class="pic"><img src="http://www.chibanting.com/d/file/2016-12-27/834398fa247b26d95e39c230e51651d2.jpg" alt="门店环境"></div>
							<p>门店环境</p>
					</a>
			</li>

<li>
					<a href="http://www.chibanting.com/d/file/2016-12-27/eff65e4add7652da99d5d9a3b43c376e.jpg" data-fancybox-group="gallery2" title="门店环境">
							<div class="pic"><img src="http://www.chibanting.com/d/file/2016-12-27/eff65e4add7652da99d5d9a3b43c376e.jpg" alt="门店环境"></div>
							<p>门店环境</p>
					</a>
			</li>

	</ul>
	<!-- 页码 -->
	<div class="m-page">
			<ul>
					
			</ul>
	</div>
	<!-- 页码   end-->
</div>

<!-- footer -->	
<%- include('common/html_footer.ejs', {}); %>
<!-- footer -->

<!-- js-scripts -->		
<%- include('common/script.ejs', {}); %>
<!-- //js-scripts -->

</body>
</html>