<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('common/html_header.ejs', {}); %>
<!-- //header -->

<body>

<!-- Navigation -->
<%- include('common/header.ejs', { key: 'story' }); %>
<!-- //Navigation -->

<!-- Sub Navigation -->
<%- include('common/sub_header.ejs', {
  key: 'pinpai',
	data: [{
		key: 'story',
		href: 'story.html',
		title: '公司简介'
	},{
		key: 'pinpai',
		href: 'pinpai.html',
		title: '品牌'
	},{
		key: 'mendianfenbu',
		href: 'mendianfenbu.html',
		title: '门店分布'
	},{
		key: 'xinwenzixun',
		href: 'xinwenzixun.html',
		title: '新闻资讯'
	}]
}); %>
<!-- //Sub Navigation -->


<section class="aboutbottom-grids pt-5 container-fluid">
	<div class="row">
		<div class="col-lg-6 p-sm-5 p-3 aboutright">
			<h3 class="mb-3">品牌宣传</h3>
			<p class="mb-2">以奋斗者为本, 双手改变命运.</p>
			<!-- <iframe src="#" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
		</div>
		<div class="col-lg-6 aboutleft">
			<img src="images/4.jpg" alt="" class="img-fluid"/>
		</div>

	</div>
</section>
<!-- //about bottom -->
<!-- about bottom -->
<section class="aboutbottom-grids pt-5 container-fluid">
	<div class="row">
		<div class="col-lg-6 aboutleft">
			<img src="images/4.jpg" alt="" class="img-fluid"/>
		</div>
		<div class="col-lg-6 p-sm-5 p-3 aboutright">
			<h3 class="mb-3">品牌前景</h3>
			<p class="mb-2">成就村上每一位伙伴，实现年轻餐饮人的创业梦.</p>
			<!-- <iframe src="#" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
		</div>
	</div>
</section>
<!-- about bottom -->
<section class="aboutbottom-grids pt-5 container-fluid">
	<div class="row">
		<div class="col-lg-6 p-sm-5 p-3 aboutright">
			<h3 class="mb-3">品牌视觉</h3>
			<p class="mb-2">
				<strong>2个使命：</strong><br>
				成就村上每一位伙伴，实现年轻餐饮人的创业梦想<br>
				寿司匠人的手作温度<br>
				<strong>1个愿景：</strong><br>
				做中国寿司连锁第一品牌<br>
				1个核心价值观：以奋斗者为本，双手改变命运<br>
				<strong>2种精神</strong><br>
				奋斗精神<br>
				匠人精神：心心在一艺，其艺必工；心心在一职，其职必举<br>
				<strong>1个服务理念（3个TA,2个应）</strong><br>
				把客人当成恋人（包容TA、宠着TA、惯着TA) 一秒钟响应，一分钟回应<br>
				<strong>情怀：源于中国唐宋，成长于日本，励志盛于村上一屋</strong><br>
			</p>
			<!-- <iframe src="#" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
		</div>
		<div class="col-lg-6 aboutleft">
			<img src="images/4.jpg" alt="" class="img-fluid"/>
		</div>

	</div>
</section>
<!-- //about bottom -->

<!-- footer -->	
<%- include('common/html_footer.ejs', {}); %>
<!-- footer -->
		
<!-- js-scripts -->		
<%- include('common/script.ejs', {}); %>
<!-- //js-scripts -->

</body>
</html>