<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('common/html_header.ejs', {}); %>
<!-- //header -->

<body>

<!-- Navigation -->
<%- include('common/header.ejs', { key: 'story' }); %>
<!-- //Navigation -->

<!-- Sub Navigation -->
<%- include('common/sub_header.ejs', {
  key: 'pinpai',
	data: [{
		key: 'story',
		href: 'story.html',
		title: '公司简介'
	},{
		key: 'pinpai',
		href: 'pinpai.html',
		title: '品牌'
	},{
		key: 'mendianfenbu',
		href: 'mendianfenbu.html',
		title: '门店分布'
	},{
		key: 'xinwenzixun',
		href: 'xinwenzixun.html',
		title: '新闻资讯'
	},{
		key: 'xuanchuanpian',
		href: 'xuanchuanpian.html',
		title: '企业宣传片'
	}]
}); %>
<!-- //Sub Navigation -->

<div class="con_jrhdl con_jyln1 jyln_show" opentype="page" style="max-width: 900px;margin: 0 auto;"> 	
	<%- include('common/haidilao_item.ejs', { 
		title: '服务理念',
		image: 'images/pinpai/fuwulinian.jpeg',
		imageRight: false,
		desc: `<p class="mb-2">
			把客人当恋人（包容Ta.宠着Ta.惯着Ta.），<br>
一秒钟响应，一分钟回应
				</p>`
	 }); %>	

<%- include('common/haidilao_item.ejs', { 
	title: '企业愿景',
	image: 'images/pinpai/yuanjing.jpeg',
	imageRight: true,
	desc: `<p class="mb-2">
		做中国寿司连锁第一品牌
			</p>`
 }); %>	

<%- include('common/haidilao_item.ejs', { 
	title: '品牌使命',
	image: 'images/pinpai/shiming.jpg',
	imageRight: false,
	desc: `<p class="mb-2">
		成就村上每一位伙伴，实现年轻餐饮人的创业梦想
			</p>`
 }); %>	

<%- include('common/haidilao_item.ejs', { 
	title: '核心价值观',
	image: 'images/pinpai/jiazhiguan.jpg',
	imageRight: true,
	desc: `<p class="mb-2">
		以奋斗者为本，双手改变命运
			</p>`
 }); %>	
 </div>

<!-- footer -->	
<%- include('common/html_footer.ejs', {}); %>
<!-- footer -->
		
<!-- js-scripts -->		
<%- include('common/script.ejs', {}); %>
<!-- //js-scripts -->

</body>
</html>