<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('common/html_header.ejs', {}); %>
<!-- //header -->

<body>

<!-- Navigation -->
<%- include('common/header.ejs', { key: 'story' }); %>
<!-- //Navigation -->

<!-- Sub Navigation -->
<%- include('common/sub_header.ejs', {
	key: 'story',
	data: [{
		key: 'story',
		href: 'story.html',
		title: '公司简介'
	},{
		key: 'mendianfenbu',
		href: 'mendianfenbu.html',
		title: '门店分布'
	},{
		key: 'xinwenzixun',
		href: 'xinwenzixun.html',
		title: '新闻资讯'
	},
	{
		key: 'xuanchuanpian',
		href: 'xuanchuanpian.html',
		title: '企业宣传片'
	}]
}); %>
<!-- //Sub Navigation -->

<div class="wp">
	<div class="m-txt1" style="padding-bottom: 50px;">
			<h3 class="g-tit1">公司简介</h3>
<p><img alt="2018新.jpg" src="images/jianjie.jpg"></p>
<p>
	村上一屋隶属于三公里(北京)餐饮管理有限责任公司旗下品牌，在北京、天津、南京、成都等地开设直营门店，2020年末湖北、青岛首家门店开业，创始团队坚持“心心在一艺，其艺必工”的工匠精神。定位：用心做好每一道菜。坚持让顾客吃到最满意的味道，致力于在食材新鲜度和菜品味道上精益求精。口号：村上一屋，做年轻人更喜欢的品质日料连锁品牌。
<p>所属行业：日料；总部地点：北京。</p>
<p>村上一屋是一家集研发、制作、销售、服务为一体的日料连锁品牌，总部和运营中心位于中国北京市，旨在为客户提升视觉呈现和餐饮体验，致力于构造新的消费场景。</p>
<p>品牌创始人：村上一屋创始人何世元。</p>
<p>产品有村上一屋70+多元日料产品，2款网红日料“芒果大虾卷，现烤鳗鱼饭”满足各类消费人群。鳗鱼饭、芒果大虾卷、榴莲芝士大卷、村上卷、法式香肝手握、牛油果藜麦沙拉、土豆泥、乌冬面等，供应商直采模式，所有食材全程冷链送达门店。</p>
<p>芒果大虾卷：香甜软糯芒果+酥脆大虾。鳗鱼饭：鳗鱼现烤+鳗鱼饭。</p>
<p>法式香肝寿司：香肝+海苔+米饭。土豆沙拉：土豆泥+鱼籽+多种配料。村上卷：招牌寿司卷，多种食材一口满足。</p>
<p>2016年，首店诞生，村上一屋首家门店位于北京工业大学西门，顾取名村上一屋北工大店，面积20平米。2017年，村上一屋在北京开出14家门店，注重“食材、菜品、刀工”的精益求精，用心制作，致力于持让顾客都品尝到最满意的味道。2018年8月，迎来了村上一屋首家外阜门店----天津南楼店正式开业。2019年，提升服务水平，并开拓线上线下一体化运营体系，完成品牌全新升级。2020年，注重顾客对村上一屋餐饮的品尝体验与建议，坚持不断创新。</p>
<p>愿景：争做中国日料餐饮连锁第一品牌。让国人吃上更高性价比的日料！</p>
<p>核心价值观：诚信、专注、敬业、坚韧、团结。</p>
<p>服务理念：精益求精，客户至上。</p>
<p>领导介绍</p>
<p>何世元，男，1991年生，毕业于北京工业大学肆业，现村上一屋创始人/CEO，专注于日料领域的研究与探索。出生地：云南省昭通市；</p>
<p>2010年，考入北京工业大学“土木工程”系；</p>
<p>2012年，大三决定休学创业，何世元开始餐饮创业；</p>
<p>2015年，何世元开始日料餐饮的学习，专注于制作高品质日料；</p>
<p>2016年1月，何世元在北京工业大学西门正式开设“村上一屋”首家日料寿司店；</p>
<p>2016年9月，在了北京高端社区“棕榈泉”附近开设第二个“村上一屋”日料寿司店；</p>
<p>2018年，何世元开始探索全国连锁化建设，开创全国化拓店模式；</p>
<p>2019年12月15日，由“村上一屋”创始人、总裁何世元先生受北京工业大学经济与管理学院邀请开展创业故事讲座；</p>
<p>2020年，何世元带领村上一屋团队发展至40余家门店，北京直营门店30余家，致力于打造的新生代日料品牌；</p>
<p>2020年下半年，何世元带领村上一屋开放加盟创业服务，通过特许经营的方式，助力日料“小众品类”餐饮的发展 。</p>
</p>
	</div>
</div>

<div class="con_jrhdl con_jyln1 jyln_show" opentype="page" style="max-width: 900px;margin: 0 auto;padding-top: 0;"> 	
	<%- include('common/haidilao_item.ejs', { 
		title: '服务理念',
		image: 'images/pinpai/fuwulinian.jpeg',
		imageRight: false,
		desc: `<p class="mb-2">
			把客人当恋人（包容Ta.宠着Ta.惯着Ta.），<br>
一秒钟响应，一分钟回应
				</p>`
	 }); %>	

<%- include('common/haidilao_item.ejs', { 
	title: '企业愿景',
	image: 'images/pinpai/yuanjing.jpeg',
	imageRight: true,
	desc: `<p class="mb-2">
		争做中国日料餐饮连锁第一品牌
			</p>`
 }); %>	

<%- include('common/haidilao_item.ejs', { 
	title: '品牌使命',
	image: 'images/pinpai/shiming.jpg',
	imageRight: false,
	desc: `<p class="mb-2">
		成就村上每一位伙伴，实现年轻餐饮人的创业梦想<br>
		让国人吃上更高性价比的日料<br>
			</p>`
 }); %>	

<%- include('common/haidilao_item.ejs', { 
	title: '核心价值观',
	image: 'images/pinpai/jiazhiguan.jpg',
	imageRight: true,
	desc: `<p class="mb-2">
		诚信、专注、敬业、坚韧、奋斗
			</p>`
 }); %>	


 </div>



<!-- footer -->	
<%- include('common/html_footer.ejs', {}); %>
<!-- footer -->
		
<!-- js-scripts -->		
<%- include('common/script.ejs', {}); %>
<!-- //js-scripts -->

</body>
</html>