<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('common/html_header.ejs', {}); %>
<!-- //header -->

<body>

<!-- Navigation -->
<%- include('common/header.ejs', { key: 'story' }); %>
<!-- //Navigation -->

<!-- Sub Navigation -->
<%- include('common/sub_header.ejs', {
	key: 'story',
	data: [{
		key: 'story',
		href: 'story.html',
		title: '公司简介'
	},{
		key: 'pinpai',
		href: 'pinpai.html',
		title: '品牌'
	},{
		key: 'mendianfenbu',
		href: 'mendianfenbu.html',
		title: '门店分布'
	},{
		key: 'xinwenzixun',
		href: 'xinwenzixun.html',
		title: '新闻资讯'
	}]
}); %>
<!-- //Sub Navigation -->

<!-- inner page banner -->
<section class="inner_banner">
	<div class="dot1">
	</div>
</section>
<!-- inner page banner -->

<!-- About us -->
<section class="about py-5">
	<div class="container">
		<h3 class="heading text-center text-uppercase mb-5"> 公司简介 </h3>
		<p class="aboutpara text-center"> 村上一屋成立于2016年1月，创始团队坚持“心心在一艺，其艺必工，心心在一职，其职必举”的工匠精神，用心做好每一道菜。坚持让顾客每一次都吃到最满意的味道，在食材新鲜度和菜品味道上精益求精；好味道，精致简约的装修环境加上实惠亲民的菜品定价，自成立以来村上一屋就广受青睐，一时间好评如潮，在短短两年时间里，村上一屋由一家门店发展成为了在北京具有19家直营门店的连锁品牌。</p>
		
		<!-- <div class="row about_grids mt-5">
			<div class="col-md-4">
				<img src="images/about1.jpg" alt="" class="img-fluid" />
				<h3 class="mt-3 my-2 text-capitalize">Aliquam iaculis erat porta </h3>
				<p class="mb-2">Nam ut nulla a ligula dictum imperdiet nec</p>
				<a href="#" class="text-capitalize">Read more <span class="fas fa-long-arrow-alt-right"></span></a>
			</div>
			<div class="col-md-4 mt-md-0 mt-4">
				<img src="images/about2.jpg" alt="" class="img-fluid" />
				<h3 class="mt-3 my-2 text-capitalize">Aliquam iaculis erat porta </h3>
				<p class="mb-2">Nam ut nulla a ligula dictum imperdiet nec</p>
				<a href="#" class="text-capitalize">Read more <span class="fas fa-long-arrow-alt-right"></span></a>
			</div>
			<div class="col-md-4 mt-md-0 mt-4">
				<img src="images/about3.jpg" alt="" class="img-fluid" />
				<h3 class="mt-3 my-2 text-capitalize">Aliquam iaculis erat porta </h3>
				<p class="mb-2">Nam ut nulla a ligula dictum imperdiet nec</p>
				<a href="#" class="text-capitalize">Read more <span class="fas fa-long-arrow-alt-right"></span></a>
			</div>
		</div> -->
		
	</div>
</section>
<!-- //About us -->



<section class="aboutbottom-grids pt-5 container-fluid">
	<div class="row">
		<div class="col-lg-6 p-sm-5 p-3 aboutright">
			<h3 class="mb-3">经营理念</h3>
			<p class="mb-2">以奋斗者为本, 双手改变命运.</p>
			<!-- <iframe src="#" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
		</div>
		<div class="col-lg-6 aboutleft">
			<img src="images/4.jpg" alt="" class="img-fluid"/>
		</div>

	</div>
</section>
<!-- //about bottom -->
<!-- about bottom -->
<section class="aboutbottom-grids pt-5 container-fluid">
	<div class="row">
		<div class="col-lg-6 aboutleft">
			<img src="images/4.jpg" alt="" class="img-fluid"/>
		</div>
		<div class="col-lg-6 p-sm-5 p-3 aboutright">
			<h3 class="mb-3">品牌使命</h3>
			<p class="mb-2">成就村上每一位伙伴，实现年轻餐饮人的创业梦.</p>
			<!-- <iframe src="#" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
		</div>
	</div>
</section>
<!-- about bottom -->
<section class="aboutbottom-grids pt-5 container-fluid">
	<div class="row">
		<div class="col-lg-6 p-sm-5 p-3 aboutright">
			<h3 class="mb-3">团队文化</h3>
			<p class="mb-2">
				<strong>2个使命：</strong><br>
				成就村上每一位伙伴，实现年轻餐饮人的创业梦想<br>
				寿司匠人的手作温度<br>
				<strong>1个愿景：</strong><br>
				做中国寿司连锁第一品牌<br>
				1个核心价值观：以奋斗者为本，双手改变命运<br>
				<strong>2种精神</strong><br>
				奋斗精神<br>
				匠人精神：心心在一艺，其艺必工；心心在一职，其职必举<br>
				<strong>1个服务理念（3个TA,2个应）</strong><br>
				把客人当成恋人（包容TA、宠着TA、惯着TA) 一秒钟响应，一分钟回应<br>
				<strong>情怀：源于中国唐宋，成长于日本，励志盛于村上一屋</strong><br>
			</p>
			<!-- <iframe src="#" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
		</div>
		<div class="col-lg-6 aboutleft">
			<img src="images/4.jpg" alt="" class="img-fluid"/>
		</div>

	</div>
</section>
<!-- //about bottom -->
<!-- about bottom -->
<section class="aboutbottom-grids pt-5 container-fluid">
	<div class="row">
		<div class="col-lg-6 aboutleft">
			<img src="images/qyry.jpg" alt="" class="img-fluid"/>
		</div>
		<div class="col-lg-6 p-sm-5 p-3 aboutright">
			<h3 class="mb-3">企业荣誉</h3>
			<p class="mb-2">荣获“ 2020年度抗击疫情先进单位”、“2020年度消费者喜爱品牌”等</p>
			<!-- <iframe src="#" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
		</div>
	</div>
</section>
<!-- about bottom -->
<section class="aboutbottom-grids pt-5 container-fluid">
	<div class="row">
		<div class="col-lg-6 p-sm-5 p-3 aboutright">
			<h3 class="mb-3">品牌宣传</h3>
			<p class="mb-2">Maecenas ac euismod eros. Aliquam a suscipit nibh. Aliquam iaculis erat porta mauris fermentum lacinia. Donec posuere a massa sit amet sagittis. Nam ut nulla a ligula dictum imperdiet nec ut mauris.</p>
			<!-- <iframe src="#" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
		</div>
		<div class="col-lg-6 aboutleft">
			<img src="images/4.jpg" alt="" class="img-fluid"/>
		</div>

	</div>
</section>
<!-- //about bottom -->
<!-- about bottom -->
<section class="aboutbottom-grids pt-5 container-fluid">
	<div class="row">
		<div class="col-lg-6 aboutleft">
			<img src="images/4.jpg" alt="" class="img-fluid"/>
		</div>
		<div class="col-lg-6 p-sm-5 p-3 aboutright">
			<h3 class="mb-3">品牌前景</h3>
			<p class="mb-2">三年做到北京寿司连锁第一品牌，五年做到中国日料连锁第一品牌，十年做到走出国门，走向世界。</p>
			<!-- <iframe src="#" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
		</div>
	</div>
</section>
<!-- about bottom -->
<section class="aboutbottom-grids pt-5 container-fluid">
	<div class="row">
		<div class="col-lg-6 p-sm-5 p-3 aboutright">
			<h3 class="mb-3">品牌视觉</h3>
			<p class="mb-2">Maecenas ac euismod eros. Aliquam a suscipit nibh. Aliquam iaculis erat porta mauris fermentum lacinia. Donec posuere a massa sit amet sagittis. Nam ut nulla a ligula dictum imperdiet nec ut mauris.</p>
			<!-- <iframe src="#" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
		</div>
		<div class="col-lg-6 aboutleft">
			<img src="images/4.jpg" alt="" class="img-fluid"/>
		</div>

	</div>
</section>
<!-- //about bottom -->


<!-- footer -->	
<%- include('common/html_footer.ejs', {}); %>
<!-- footer -->
		
<!-- js-scripts -->		
<%- include('common/script.ejs', {}); %>
<!-- //js-scripts -->

</body>
</html>