<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('common/html_header.ejs', {}); %>
<!-- //header -->

<body>

<!-- Navigation -->
<%- include('common/header.ejs', { key: 'story' }); %>
<!-- //Navigation -->

<!-- Sub Navigation -->
<%- include('common/sub_header.ejs', {
  key: 'xinwenzixun',
	data: [{
		key: 'story',
		href: 'story.html',
		title: '公司简介'
	},{
		key: 'mendianfenbu',
		href: 'mendianfenbu.html',
		title: '门店分布'
	},{
		key: 'xinwenzixun',
		href: 'xinwenzixun.html',
		title: '新闻资讯'
	},{
		key: 'xuanchuanpian',
		href: 'xuanchuanpian.html',
		title: '企业宣传片'
	}]
}); %>
<!-- //Sub Navigation -->

<div id="bd">
  <ul class="ul-list5">
    <%- include('common/xinwen_item.ejs', {
        href: 'https://mp.weixin.qq.com/s/Dgj1hwVaoN34CdH7UnqikA',
        title: '霸王餐免费送！连霸北京日料榜，村上一屋青岛首店重磅登陆金狮！',
        image: 'images/xinwen/1.png',
        year: '2020-12',
        day: '10',
        content: `
        电话：13698659856<br/>
        地址：金狮广场四楼15号
        `
    }); %>
    <%- include('common/xinwen_item.ejs', {
        href: 'https://mp.weixin.qq.com/s/centO7wDT-UByCDMIv7jFg',
        title: '外卖人均80元，最高9000单／月，它4年开43家直营店！',
        image: 'images/xinwen/2.png',
        year: '2020-7',
        day: '8',
        content: `
        电话：010-59000327<br/>
        地址：北京市朝阳区建外SOHO西区10号楼8层801
        `
    }); %>
    <%- include('common/xinwen_item.ejs', {
        href: 'https://mp.weixin.qq.com/s/YrWloz2tptaqm_FgTBm3hA',
        title: '村上一屋品牌荣获“2020中国区特殊时期突出贡献企业”奖。',
        image: 'images/xinwen/3.png',
        year: '2020-6',
        day: '16',
        content:  `
        电话：010-59000327<br/>
        地址：北京市朝阳区建外SOHO西区10号楼8层801
        `
    }); %>
    <%- include('common/xinwen_item.ejs', {
        href: 'http://www.ce.cn/cysc/newmain/yc/jsxw/202002/22/t20200222_34328138.shtml',
        title: '村上一屋创始人兼CEO何世元响应“三保”行动',
        image: 'images/xinwen/4.png',
        year: '2020-2',
        day: '22',
        content:  `
        电话：010-59000327<br/>
        地址：北京市朝阳区建外SOHO西区10号楼8层801
        `
    }); %>
    <%- include('common/xinwen_item.ejs', {
        href: 'https://mp.weixin.qq.com/s/ICCjhPvCloPl6RlDOPCr4Q',
        title: '爆！承包北京夏日饮品的村上一屋来了！“戳心”就能免费喝！',
        image: 'images/xinwen/5.png',
        year: '2019-5',
        day: '7',
        content:  `
        电话：010-59000327<br/>
        地址：北京市朝阳区建外SOHO西区10号楼8层801
        `
    }); %>
    <%- include('common/xinwen_item.ejs', {
        href: 'https://mp.weixin.qq.com/s/w6QsUuyacv1TfqiZVx30oA',
        title: '没有融过一次资，两年时间内开店20家，村上一屋如何成为“寿司界小米”？',
        image: 'images/xinwen/6.png',
        year: '2018-7',
        day: '13',
        content:  `
        电话：010-59000327<br/>
        地址：北京市朝阳区建外SOHO西区10号楼8层801
        `
    }); %>    
  </ul>
</div>

<!-- footer -->	
<%- include('common/html_footer.ejs', {}); %>
<!-- footer -->
		
<!-- js-scripts -->		
<%- include('common/script.ejs', {}); %>
<!-- //js-scripts -->

</body>
</html>