<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('common/html_header.ejs', {}); %>
<!-- //header -->

<body>

<!-- Navigation -->
<%- include('common/header.ejs', { key: 'story' }); %>
<!-- //Navigation -->

<!-- Sub Navigation -->
<%- include('common/sub_header.ejs', {
  key: 'xuanchuanpian',
	data: [{
		key: 'story',
		href: 'story.html',
		title: '公司简介'
	},{
		key: 'mendianfenbu',
		href: 'mendianfenbu.html',
		title: '门店分布'
	},{
		key: 'xinwenzixun',
		href: 'xinwenzixun.html',
		title: '新闻资讯'
	},{
		key: 'xuanchuanpian',
		href: 'xuanchuanpian.html',
		title: '企业宣传片'
	}]
}); %>
<!-- //Sub Navigation -->

<div id="mse" style="margin: auto;margin-bottom: 50px;"></div>

<!-- footer -->	
<%- include('common/html_footer.ejs', {}); %>
<!-- footer -->
		
<!-- js-scripts -->		
<%- include('common/script.ejs', {}); %>
<!-- //js-scripts -->
<script src="http://cdn.jsdelivr.net/npm/xgplayer@2.9.6/browser/index.js" type="text/javascript"></script>
<script>
	var player = new Player({
  id: 'mse',
	width: 1000,
	height: 562,
  url: 'https://v9-xg-web-s.ixigua.com/db29a5ab2dfd331ae32e506ec0bb9d31/5fc8e9fb/video/tos/hxsy/tos-hxsy-ve-0000/6a6028a3659644e0b9656ef44909fc07/?a=1768&br=6219&bt=2073&cd=0%7C0%7C1&cr=0&cs=0&cv=1&dr=0&ds=4&er=0&l=20201203203510010204031227030611D0&lr=default&mime_type=video_mp4&qs=0&rc=MzxtOGlneXB4cjMzPDkzM0ApZjkzZWdlPGVlN2c2aWY2N2dsaV9fNGliXmFfLS1jLi9zczQuL2AzNV5jLzA1NDUyNjU6Yw%3D%3D&vl=&vr='
});
</script>

</body>
</html>