<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('common/html_header.ejs', {}); %>
<!-- //header -->

<body>

<!-- Navigation -->
<%- include('common/header.ejs', { key: 'contact' }); %>
<!-- //Navigation -->

<!-- Sub Navigation -->
<%- include('common/sub_header.ejs', {
	key: 'zhaopin',
	data: [{
		key: 'contact',
		href: 'contact.html',
		title: '联系方式'
	},{
		key: 'zhaopin',
		href: 'zhaopin.html',
		title: '招聘信息'
	}]
}); %>
<!-- //Sub Navigation -->

<div class="wp">
  <div class="m-txt1">
      <h3 class="g-tit1">招聘信息</h3>
<p>
</p><table border="0" cellspacing="0" cellpadding="0" width="1178" height="598" style="width: 885pt; border-collapse: collapse">
<colgroup><col span="2" width="138" style="width: 104pt"><col width="902" style="width: 677pt"></colgroup>
<tbody>
<tr height="54" style="height: 40.5pt">
  <td height="54" width="138" u1:str="" style="border-bottom: black 0.5pt solid; text-align: center; border-left: black 0.5pt solid; background-color: transparent; width: 104pt; height: 40.5pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid"><strong>职位</strong></td>
  <td width="138" u1:str="" style="border-bottom: black 0.5pt solid; text-align: center; border-left: black; background-color: transparent; width: 104pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid"><strong>人数</strong></td>
  <td width="902" u1:str="" style="border-bottom: black 0.5pt solid; border-left: black; background-color: transparent; width: 677pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;岗位要求</strong></td>
</tr>
<tr height="105" style="height: 78.75pt">
  <td height="105" width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black 0.5pt solid; background-color: transparent; width: 104pt; height: 78.75pt; border-top: black; border-right: black 0.5pt solid">店长</td>
  <td width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black; background-color: transparent; width: 104pt; border-top: black; border-right: black 0.5pt solid">2名</td>
  <td width="902" u1:str="" style="border-bottom: #f0f0f0; border-left: black; background-color: transparent; width: 677pt; border-top: black; border-right: black 0.5pt solid">（1）35周岁以下，大专（及以上）学历，形象气质佳；<br>
  （2）星级酒店或大型餐饮集团相关工作经验3年以上；<br>
  （3）具有较强的业务实施与管理能力；<br>
  （4）熟悉餐饮业务和餐饮工作流程等专业知识；<br>
  （5）有团队意识，诚恳敬业，有强烈的事业与责任感。</td>
</tr>
<tr height="68" style="height: 51pt">
  <td height="68" width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black 0.5pt solid; background-color: transparent; width: 104pt; height: 51pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">日料厨务经理</td>
  <td width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black; background-color: transparent; width: 104pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">3名</td>
  <td width="902" u1:str="" style="border-bottom: #f0f0f0; border-left: black; background-color: transparent; width: 677pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">（1）25-45岁，具有3年以上大型品牌日餐厨务经理或厨师长岗位工作经验；<br>
  （2）熟悉各类日餐制作过程，负责食品成本的控制，具较强的组织和管理能力。</td>
</tr>
<tr height="68" style="height: 51pt">
  <td height="68" width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black 0.5pt solid; background-color: transparent; width: 104pt; height: 51pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">迎宾员</td>
  <td width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black; background-color: transparent; width: 104pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">若干名</td>
  <td width="902" u1:str="" style="border-bottom: #f0f0f0; border-left: black; background-color: transparent; width: 677pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">（1）18-30岁，身高158cm以上，形象佳，口齿伶俐；<br>
  （2）初中以上学历，爱笑，善于与人沟通交流。</td>
</tr>
<tr height="68" style="height: 51pt">
  <td height="68" width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black 0.5pt solid; background-color: transparent; width: 104pt; height: 51pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">收银员</td>
  <td width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black; background-color: transparent; width: 104pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">若干名</td>
  <td width="902" u1:str="" style="border-bottom: #f0f0f0; border-left: black; background-color: transparent; width: 677pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">（1）18-30岁，高中以上学历，电脑操作熟练；<br>
  （2）严谨、细致，对数据敏感，诚实守信。</td>
</tr>
<tr height="78" style="height: 58.5pt">
  <td height="78" width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black 0.5pt solid; background-color: transparent; width: 104pt; height: 58.5pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">服务员</td>
  <td width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black; background-color: transparent; width: 104pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">若干名</td>
  <td width="902" u1:str="" style="border-bottom: #f0f0f0; border-left: black; background-color: transparent; width: 677pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">（1）18-30岁，初中以上学历，五官端正；<br>
  （2）吃苦耐劳，喜欢与人打交道；<br>
  （3）热爱餐饮行业，适应快节奏工作节奏。</td>
</tr>
<tr height="78" style="height: 58.5pt">
  <td height="78" width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black 0.5pt solid; background-color: transparent; width: 104pt; height: 58.5pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">厨师</td>
  <td width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black; background-color: transparent; width: 104pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">若干名</td>
  <td width="902" u1:str="" style="border-bottom: #f0f0f0; border-left: black; background-color: transparent; width: 677pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">（1）18-55岁，初中以上学历，身体健康；<br>
  （2）熟悉日料、铁板烧或烧烤操作工艺；<br>
  （3）有类似或同等岗位工作经验者优先。</td>
</tr>
<tr height="107" style="height: 80.25pt">
  <td height="107" width="1178" colspan="3" style="border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent; width: 885pt; height: 80.25pt; border-top: windowtext 0.5pt solid; border-right: black 0.5pt solid">&nbsp;&nbsp; &nbsp;联系人：戈小姐、许小姐&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 联系电话：021-64659177&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
  &nbsp;&nbsp; &nbsp;联系地址：上海市闵行区宜山路1618号新意城A座305室<br>
  &nbsp;&nbsp;&nbsp; 交通路线：地铁9号线漕河泾开发区站下车4号口出，右转直行200米左右即到。</td>
</tr>
</tbody>
</table>
<p></p>                
  </div>
</div>

<!-- footer -->	
<%- include('common/html_footer.ejs', {}); %>
<!-- footer -->

<!-- js-scripts -->		
<%- include('common/script.ejs', {}); %>
<!-- //js-scripts -->

</body>
</html>