<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('common/html_header.ejs', {}); %>
<!-- //header -->

<body>

<!-- Navigation -->
<%- include('common/header.ejs', { key: 'contact' }); %>
<!-- //Navigation -->

<!-- Sub Navigation -->
<%- include('common/sub_header.ejs', {
	key: 'zhaopin',
	data: [{
		key: 'contact',
		href: 'contact.html',
		title: '联系方式'
	},{
		key: 'zhaopin',
		href: 'zhaopin.html',
		title: '招聘信息'
	}]
}); %>
<!-- //Sub Navigation -->

<div class="wp">
  <div class="m-txt1">
      <h3 class="g-tit1">招聘信息</h3>
<p>
</p><table border="0" cellspacing="0" cellpadding="0" width="1178" height="598" style="width: 885pt; border-collapse: collapse">
<colgroup><col span="2" width="138" style="width: 104pt"><col width="902" style="width: 677pt"></colgroup>
<tbody>
<tr height="54" style="height: 40.5pt">
  <td height="54" width="138" u1:str="" style="border-bottom: black 0.5pt solid; text-align: center; border-left: black 0.5pt solid; background-color: transparent; width: 104pt; height: 40.5pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid"><strong>职位</strong></td>
  <td width="138" u1:str="" style="border-bottom: black 0.5pt solid; text-align: center; border-left: black; background-color: transparent; width: 104pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid"><strong>人数</strong></td>
  <td width="902" u1:str="" style="border-bottom: black 0.5pt solid; border-left: black; background-color: transparent; width: 677pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;岗位要求</strong></td>
</tr>
<tr height="105" style="height: 78.75pt">
  <td height="105" width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black 0.5pt solid; background-color: transparent; width: 104pt; height: 78.75pt; border-top: black; border-right: black 0.5pt solid">店长</td>
  <td width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black; background-color: transparent; width: 104pt; border-top: black; border-right: black 0.5pt solid">10名</td>
  <td width="902" u1:str="" style="border-bottom: #f0f0f0; border-left: black; background-color: transparent; width: 677pt; border-top: black; border-right: black 0.5pt solid">
  （1）35周岁以下，大专（及以上）学历，形象气质佳；<br>
  （2）有大型连锁相关工作 3-5 年工作经验；<br>
  （3）懂前厅及后厨管理，熟悉各岗位职责和内容，能够制定相关的岗位制度；<br>
  （4）有一定的逻辑思维和应变能力，学习能力强，有一定的培训能力；<br>
  （5）具有良好的沟通、管理协调能力，能够处理各类管理题；<br>
  （6）对员工进行日常的培训，善于激励、调动员工的积极性；<br>
  （7）工作具有计划性，具有很强的执行力
  </td>
</tr>
<tr height="68" style="height: 51pt">
  <td height="68" width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black 0.5pt solid; background-color: transparent; width: 104pt; height: 51pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">前厅服务员</td>
  <td width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black; background-color: transparent; width: 104pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">若干名</td>
  <td width="902" u1:str="" style="border-bottom: #f0f0f0; border-left: black; background-color: transparent; width: 677pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">
    （1）年龄 16 周岁-38 周岁，初中（以上）学历，身体健康，品貌端正；<br>
    （2）有经验者优先；<br>
    （3）普通话标准；<br>
    （4）性格活泼开朗，具备良好的沟通和表达能力，有责任心；<br>
    （5）工作具有计划性，具有很强的执行力。
</td>
</tr>
<tr height="68" style="height: 51pt">
  <td height="68" width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black 0.5pt solid; background-color: transparent; width: 104pt; height: 51pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">日料厨师</td>
  <td width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black; background-color: transparent; width: 104pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">若干名</td>
  <td width="902" u1:str="" style="border-bottom: #f0f0f0; border-left: black; background-color: transparent; width: 677pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">
    （1）18-40 岁之间，身体健康，品貌端正，做生鱼寿司半年以上工作经验；<br>
    （2）服从上级的各项工作安排；<br>
    （3）熟悉本岗位的工作流程及标准；<br>
    （4）杜绝浪费现象、认真做好本台的具体工作；<br>
    （5）维护保养本岗位的设施、设备，注意操作过程的各项安全；<br>
    （6）负责岗位场地环境、用具的清洁；<br>
    （7）确保自身制作菜品出品的质与量；<br>
    （8）工作具有计划性，具有很强的执行力。
</td>
</tr>
<tr height="68" style="height: 51pt">
  <td height="68" width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black 0.5pt solid; background-color: transparent; width: 104pt; height: 51pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">日料学徒</td>
  <td width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black; background-color: transparent; width: 104pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">若干名</td>
  <td width="902" u1:str="" style="border-bottom: #f0f0f0; border-left: black; background-color: transparent; width: 677pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">
    （1）年满16-35 岁之间，身体健康，品貌端正；<br>
    （2）服从上级的各项工作安排；<br>
    （3）熟悉本岗位的工作流程及标准；<br>
    （4）维护工作环境干净整齐，安全稳定；<br>
    （5）工作时间不窜岗，不抱怨，团结同事，勤奋好学；<br>
  （6）积极与上级沟通，勇于担当、以身作则、争取早日出师。
</td>
</tr>
<!-- <tr height="78" style="height: 58.5pt">
  <td height="78" width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black 0.5pt solid; background-color: transparent; width: 104pt; height: 58.5pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">服务员</td>
  <td width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black; background-color: transparent; width: 104pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">若干名</td>
  <td width="902" u1:str="" style="border-bottom: #f0f0f0; border-left: black; background-color: transparent; width: 677pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">（1）18-30岁，初中以上学历，五官端正；<br>
  （2）吃苦耐劳，喜欢与人打交道；<br>
  （3）热爱餐饮行业，适应快节奏工作节奏。</td>
</tr>
<tr height="78" style="height: 58.5pt">
  <td height="78" width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black 0.5pt solid; background-color: transparent; width: 104pt; height: 58.5pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">厨师</td>
  <td width="138" u1:str="" style="border-bottom: #f0f0f0; text-align: center; border-left: black; background-color: transparent; width: 104pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">若干名</td>
  <td width="902" u1:str="" style="border-bottom: #f0f0f0; border-left: black; background-color: transparent; width: 677pt; border-top: black 0.5pt solid; border-right: black 0.5pt solid">（1）18-55岁，初中以上学历，身体健康；<br>
  （2）熟悉日料、铁板烧或烧烤操作工艺；<br>
  （3）有类似或同等岗位工作经验者优先。</td>
</tr> -->
<tr height="107" style="height: 80.25pt">
  <td height="107" width="1178" colspan="3" style="border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent; width: 885pt; height: 80.25pt; border-top: windowtext 0.5pt solid; border-right: black 0.5pt solid">
  &nbsp;&nbsp; &nbsp;联系人：肖女士&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;联系电话：17718429451<br>
  &nbsp;&nbsp; &nbsp;联系地址：北京市朝阳区建外SOHO西区10号楼801<br>
  &nbsp;&nbsp;&nbsp; 交通路线：地铁1号线或10号线到国贸站下车D口出，步行10分钟即到</td>
</tr>
</tbody>
</table>
<p></p>                
  </div>
</div>

<!-- footer -->	
<%- include('common/html_footer.ejs', {}); %>
<!-- footer -->

<!-- js-scripts -->		
<%- include('common/script.ejs', {}); %>
<!-- //js-scripts -->

</body>
</html>