<li style="height: 230px;">
  <a href="<%= href %>" data-fancybox="gallery" title="<%= title %>">
    <div class="pic" style="height: 170px;width: 250px;">
      <img src="<%= href %>" alt="<%= title %>" style="width:100%;"/>
    </div>
    <p><%= desc %></p>
  </a>
</li>