<li>
  <div class="wp">
      <span class="date"><em><%= day %></em><%= year %></span>
      <div class="pic"><a target="_blank" href="<%= href %>" title="<%= title %>"><img src="<%= image %>" alt="<%= title %>" ></a></div>
      <div class="txt">
          <h3><a target="_blank" href="<%= href %>" title="<%= title %>"><%= title %></a></h3>
          <p>
            <%- content %>
          </p>
          <a class="a-more2" target="_blank" href="<%= href %>" title="<%= title %>">阅读详情</a>
      </div>
  </div>
</li>